:root {
  --primaryColor: #035b96;
  --secondaryColor: #3498db;
  --blackColor: #000;
  --blackishColor: #3b3b3b;
  --whiteColor: #fff;
  --goldColor: #ffa117;
  --transition: all 0.25s ease-in-out;
  --transparantWhite: rgba(255, 255, 255, 0.5);
  --transparantBalck: rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border: transparent;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primaryColor);
}
a {
  color: var(--blackColor);
  text-decoration: none;
}

nav,
.home_section,
.soc_links,
.about_content,
.dashboard_content {
  padding: 0 15rem;
}

/* Nav Style Begins */
nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: var(--transparantWhite);
}
.button {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.button:hover {
  background-color: var(--secondaryColor);
}
.nav_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav_holder a {
  text-transform: capitalize;
  transition: var(--transition);
}
.home_link {
  font-size: 1.7rem;
  font-weight: bold;
}
.portfolio {
  color: var(--primaryColor);
}
.management {
  color: var(--secondaryColor);
}
.nav_links {
  font-size: 1.8rem;
}
.nav_links a {
  color: var(--primaryColor);
  padding: 0 0.8rem;
}
.menu_active {
  border-bottom: 4px solid var(--primaryColor);
}
/* Nav Style Ends */

/* Home Style Begins */
.home_section {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home_left {
  display: inherit;
  align-items: inherit;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}
.left_details h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.left_details strong {
  font-size: 2rem;
}
.left_details h2 {
  font-size: 1.3rem;
  font-weight: normal;
  padding: 1rem 0 2rem;
}
.home_right {
  display: inherit;
  align-items: inherit;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.home_right img,
.form_right img {
  width: 75%;
  animation: imgAnimation 3s infinite ease-in-out;
  filter: drop-shadow(-12px 23px 40px #3b3b3b);
}
@keyframes imgAnimation {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.circle1,
.circle2,
.circle3 {
  position: fixed;
  border-radius: 50%;
  transition: var(--transition);
}
.circle1 {
  height: 1500px;
  width: 1500px;
  bottom: -415px;
  right: -715px;
  z-index: -3;
  background-color: var(--secondaryColor);
  box-shadow: 0 0 30px var(--blackishColor);
}
.circle2 {
  height: 1000px;
  width: 1000px;
  bottom: -135px;
  right: -415px;
  z-index: -2;
  background-color: var(--primaryColor);
}
.circle3 {
  background-color: var(--goldColor);
  height: 600px;
  width: 600px;
  bottom: 75px;
  right: -225px;
  z-index: -1;
}
/* Home Style Ends */

/* Footer Style Begins */
.soc_center {
  text-align: center;
}
.soc_links a {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 1.2rem;
  margin: 1rem 1rem 0 0;
}
.soc_links p {
  padding-bottom: 2rem;
}
.soc_links p > a {
  margin-right: 0;
}
/* Footer Style Ends */

/* About Style Begins */
.banner {
  min-height: 30vh;
  background: url("./assets/about_bg.jpg") bottom/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner_content {
  width: 50%;
  padding: 1rem 2rem;
  text-align: center;
  color: var(--primaryColor);
  background: var(--transparantBalck);
}
.banner_content h1,
.banner_content p {
  margin: 1rem 0;
  color: var(--whiteColor);
  line-height: 160%;
}
/* About Style Ends */

/* Registration Style Starts */
.register_section {
  flex-direction: column;
  justify-content: center;
}
.form_content {
  width: 60%;
  background-color: var(--whiteColor);
  padding: 4rem 5rem;
  border-radius: 1rem;
  box-shadow: -10px 10px 30px #525252;
  display: flex;
  flex-direction: row;
}
.form_left {
  width: 55%;
}
.form_group label {
  display: inline-block;
  margin: 0px 0px 10px 10px;
}
.form_right {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form_right img {
  width: 80%;
}
.form_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.form_right img {
  filter: drop-shadow(-5px 5px 10px #3b3b3b);
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0 0.4rem;
  display: inline-block;
  border: none;
  border-radius: 0;
  background: transparent;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"],
input[type="number"]:focus {
  outline: 0;
}
input[type="submit"] {
  margin-top: 1.5rem;
  border: none;
}
.form_group {
  border-bottom: 2px solid var(--primaryColor);
  margin: 1.5rem 0;
}
.form_group:nth-last-child(2) {
  border: none;
}
/* Registration Style Ends */

/* Media Queries Starts */
@media (max-width: 1342px) {
  /* Home Page Starts */
  nav,
  .home_section,
  .soc_links,
  .about_content,
  .dashboard_content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .left_details .management {
    text-shadow: 1px 1px 2px #000;
  }
  /* Home Page Ends */
}
@media (max-width: 991px) {
  /* Home Page Starts */
  nav,
  .home_section,
  .soc_links,
  .about_content,
  .dashboard_content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .circle1 {
    bottom: -790px;
    right: -725px;
  }
  .circle2 {
    bottom: -500px;
    right: -475px;
  }
  .circle3 {
    bottom: -315px;
    right: -315px;
  }
  .home_right img {
    width: 100%;
  }
  /* Home Page Ends */

  /* Login Page Starts */
  .form_content {
    width: 90%;
  }
  /* Login Page Ends */
}
@media (max-width: 768px) {
  /* Home Page Starts */
  nav,
  .home_section,
  .soc_links,
  .about_content,
  .dashboard_content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .home_link {
    font-size: 1.2rem;
  }
  .nav_links {
    font-size: 1.3rem;
  }
  .nav_links a {
    padding: 0 0.3rem;
  }
  .home_section {
    height: 70vh;
    flex-direction: column-reverse;
  }
  .home_right img {
    width: 75%;
    filter: drop-shadow(-3px 15px 10px #3b3b3b);
  }
  .home_left {
    justify-content: center;
  }
  .circle1,
  .circle2,
  .circle3 {
    display: none;
  }
  .left_details {
    text-align: center;
  }
  .left_details h1 {
    font-size: 1.3rem;
    line-height: 200%;
  }
  .left_details strong,
  .left_details .management {
    font-size: 1.5rem;
    text-shadow: none;
  }
  .soc_links {
    text-align: center;
    margin-top: 3rem;
  }
  .soc_links a {
    margin: 0 0.5rem 0.5rem;
  }
  .soc_links p {
    padding-bottom: 1rem;
  }
  .soc_links p > a {
    font-size: 1rem;
    margin: 0;
  }
  /* Home Page Ends */

  /* Login Page Starts */
  .register_section {
    height: auto;
  }
  .form_content {
    width: 100%;
    flex-direction: column-reverse;
    padding: 4rem 2rem;
  }
  .form_left {
    width: 100%;
    margin-top: 3rem;
  }
  .form_right {
    width: 100%;
    justify-content: center;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    font-size: 1rem;
  }
  /* Login Page Ends */
}
/* Media Queries Ends */
